In [138]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [139]:
df = pd.read_csv('Data_Train.csv')
df.head(50)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302
5,SpiceJet,24/06/2019,Kolkata,Banglore,CCU ? BLR,09:00,11:25,2h 25m,non-stop,No info,3873
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR ? BOM ? DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087
7,Jet Airways,01/03/2019,Banglore,New Delhi,BLR ? BOM ? DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270
8,Jet Airways,12/03/2019,Banglore,New Delhi,BLR ? BOM ? DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087
9,Multiple carriers,27/05/2019,Delhi,Cochin,DEL ? BOM ? COK,11:25,19:15,7h 50m,1 stop,No info,8625
10,Air India,1/06/2019,Delhi,Cochin,DEL ? BLR ? COK,09:45,23:00,13h 15m,1 stop,No info,8907
11,IndiGo,18/04/2019,Kolkata,Banglore,CCU ? BLR,20:20,22:55,2h 35m,non-stop,No info,4174
12,Air India,24/06/2019,Chennai,Kolkata,MAA ? CCU,11:40,13:55,2h 15m,non-stop,No info,4667
13,Jet Airways,9/05/2019,Kolkata,Banglore,CCU ? BOM ? BLR,21:10,09:20 10 May,12h 10m,1 stop,In-flight meal not included,9663
14,IndiGo,24/04/2019,Kolkata,Banglore,CCU ? BLR,17:15,19:50,2h 35m,non-stop,No info,4804
15,Air India,3/03/2019,Delhi,Cochin,DEL ? AMD ? BOM ? COK,16:40,19:15 04 Mar,26h 35m,2 stops,No info,14011
16,SpiceJet,15/04/2019,Delhi,Cochin,DEL ? PNQ ? COK,08:45,13:15,4h 30m,1 stop,No info,5830
17,Jet Airways,12/06/2019,Delhi,Cochin,DEL ? BOM ? COK,14:00,12:35 13 Jun,22h 35m,1 stop,In-flight meal not included,10262
18,Air India,12/06/2019,Delhi,Cochin,DEL ? CCU ? BOM ? COK,20:15,19:15 13 Jun,23h,2 stops,No info,13381
19,Jet Airways,27/05/2019,Delhi,Cochin,DEL ? BOM ? COK,16:00,12:35 28 May,20h 35m,1 stop,In-flight meal not included,12898
20,GoAir,6/03/2019,Delhi,Cochin,DEL ? BOM ? COK,14:10,19:20,5h 10m,1 stop,No info,19495
21,Air India,21/03/2019,Banglore,New Delhi,BLR ? COK ? DEL,22:00,13:20 19 Mar,15h 20m,1 stop,No info,6955
22,IndiGo,3/04/2019,Banglore,Delhi,BLR ? DEL,04:00,06:50,2h 50m,non-stop,No info,3943
23,IndiGo,1/05/2019,Banglore,Delhi,BLR ? DEL,18:55,21:50,2h 55m,non-stop,No info,4823
24,Jet Airways,6/05/2019,Kolkata,Banglore,CCU ? BOM ? BLR,18:55,08:15 07 May,13h 20m,1 stop,In-flight meal not included,7757
25,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? IDR ? BOM ? COK,21:25,12:35 10 Jun,15h 10m,2 stops,No info,13292
26,IndiGo,1/06/2019,Delhi,Cochin,DEL ? LKO ? COK,21:50,03:35 02 Jun,5h 45m,1 stop,No info,8238
27,GoAir,15/05/2019,Delhi,Cochin,DEL ? BOM ? COK,07:00,12:55,5h 55m,1 stop,No info,7682
28,Vistara,18/06/2019,Banglore,Delhi,BLR ? DEL,09:45,12:35,2h 50m,non-stop,No info,4668
29,Vistara,15/06/2019,Chennai,Kolkata,MAA ? CCU,07:05,09:20,2h 15m,non-stop,No info,3687
30,Vistara,18/06/2019,Chennai,Kolkata,MAA ? CCU,07:05,09:20,2h 15m,non-stop,No info,3687
31,Air India,1/05/2019,Kolkata,Banglore,CCU ? GAU ? DEL ? BLR,09:50,23:15,13h 25m,2 stops,No info,13227
32,IndiGo,6/04/2019,Banglore,Delhi,BLR ? DEL,04:00,06:50,2h 50m,non-stop,No info,4423
33,Jet Airways,15/06/2019,Delhi,Cochin,DEL ? NAG ? BOM ? COK,14:35,12:35 16 Jun,22h,2 stops,In-flight meal not included,10919
34,Jet Airways,18/05/2019,Delhi,Cochin,DEL ? BOM ? COK,07:05,12:35,5h 30m,1 stop,In-flight meal not included,12373
35,IndiGo,27/06/2019,Delhi,Cochin,DEL ? BOM ? COK,10:35,21:00,10h 25m,1 stop,No info,5894
36,SpiceJet,21/05/2019,Kolkata,Banglore,CCU ? MAA ? BLR,15:05,20:20,5h 15m,1 stop,No info,4649
37,Air India,18/05/2019,Kolkata,Banglore,CCU ? BLR,14:15,16:45,2h 30m,non-stop,No info,6245
38,Jet Airways,06/03/2019,Banglore,New Delhi,BLR ? BOM ? DEL,07:00,13:15,6h 15m,1 stop,No info,19225
39,Jet Airways,3/06/2019,Delhi,Cochin,DEL ? BOM ? COK,07:05,19:00,11h 55m,1 stop,No info,14924
40,Multiple carriers,21/05/2019,Delhi,Cochin,DEL ? HYD ? COK,07:05,18:10,11h 5m,1 stop,No info,9646
41,Air India,15/03/2019,Banglore,New Delhi,BLR ? BOM ? DEL,06:45,15:15,8h 30m,1 stop,No info,8714
42,Jet Airways,18/05/2019,Delhi,Cochin,DEL ? BOM ? COK,20:55,19:00 19 May,22h 5m,1 stop,In-flight meal not included,12373
43,Air Asia,6/05/2019,Banglore,Delhi,BLR ? DEL,11:10,13:55,2h 45m,non-stop,No info,3383
44,Multiple carriers,21/03/2019,Delhi,Cochin,DEL ? BOM ? COK,09:00,21:00,12h,1 stop,No info,13062
45,SpiceJet,24/03/2019,Banglore,New Delhi,BLR ? DEL,05:45,08:35,2h 50m,non-stop,No check-in baggage included,3527
46,IndiGo,27/05/2019,Banglore,Delhi,BLR ? DEL,04:00,06:50,2h 50m,non-stop,No info,3943
47,Air India,3/05/2019,Chennai,Kolkata,MAA ? CCU,11:40,13:55,2h 15m,non-stop,No info,4667
48,Air India,15/05/2019,Kolkata,Banglore,CCU ? HYD ? BLR,19:00,11:05 16 May,16h 5m,1 stop,No info,6117
49,Jet Airways,27/06/2019,Delhi,Cochin,DEL ? AMD ? BOM ? COK,23:05,19:00 28 Jun,19h 55m,2 stops,In-flight meal not included,11150

In [149]:
df['Additional_Info'].value_counts()

No info                         8345
In-flight meal not included     1982
No check-in baggage included     320
Long layover_n                    19
Change airports                    7
Business class                     4
No Info                            3
Red-eye flight                     1
Short layover                      1
Long layover                       1
Name: Additional_Info, dtype: int64

In [148]:
df['Duration'].value_counts()

2h 50m     550
1h 30m     386
2h 45m     337
2h 55m     337
2h 35m     329
          ...
41h 20m      1
27h 55m      1
33h 45m      1
40h 20m      1
37h 10m      1
Name: Duration, Length: 368, dtype: int64

In [142]:
df.replace({'2 Long layover': 'Long layover'},inplace=True)
df.replace({'1 Short layover': 'Short layover'},inplace=True)
df.replace({'1 Long layover': 'Long layover_n'},inplace=True)

In [143]:
N_df = df.drop(['Date_of_Journey'],axis='columns')

In [144]:
from sklearn.preprocessing import LabelEncoder

In [145]:
le_Airline =LabelEncoder()
le_Source = LabelEncoder()
le_Destination = LabelEncoder()
le_Total_Stops= LabelEncoder()
le_Additional_Info=LabelEncoder

In [171]:
N_df['Airline_n'] = le_Airline.fit_transform(N_df['Airline'])
N_df['Source_n'] = le_Source.fit_transform(N_df['Source'])
N_df['Destination_n'] = le_Destination.fit_transform(N_df['Destination'])
N_df['Additional_Info_n'] = le_Airline.fit_transform(N_df['Additional_Info'])
N_df['Duration_n'] = le_Airline.fit_transform(N_df['Duration'])

In [172]:
N_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Airline_n,Source_n,Destination_n,Additional_Info_n,Duration_n
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,0,5,7,240
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,3,0,7,336
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,4,2,1,7,106
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218,3,3,0,7,311
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302,3,0,5,7,303

In [152]:
dum=pd.get_dummies(N_df.Total_Stops)
dum.head()

   1 stop  2 stops  3 stops  4 stops  non-stop
0       0        0        0        0         1
1       0        1        0        0         0
2       0        1        0        0         0
3       1        0        0        0         0
4       1        0        0        0         0

In [177]:
F_df= pd.concat([N_df,dum],axis='columns')
F_df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Airline_n,Source_n,Destination_n,Additional_Info_n,Duration_n,1 stop,2 stops,3 stops,4 stops,non-stop
0,IndiGo,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,3,0,5,7,240,0,0,0,0,1
1,Air India,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,3,0,7,336,0,1,0,0,0
2,Jet Airways,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,4,2,1,7,106,0,1,0,0,0
3,IndiGo,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218,3,3,0,7,311,1,0,0,0,0
4,IndiGo,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302,3,0,5,7,303,1,0,0,0,0

In [178]:
FF_df=F_df.drop(['Airline','Source','Destination','Route','Dep_Time','Arrival_Time','Total_Stops'],axis='columns')

In [187]:
X=FF_df[['Airline_n','Source_n','Destination_n','1 stop','2 stops','3 stops', '4 stops', 'non-stop','Additional_Info_n']]

In [188]:
XX=FF_df[['Airline_n','Source_n','Destination_n','1 stop','2 stops','3 stops', '4 stops', 'non-stop','Price']]
X.head(50)

,Airline_n,Source_n,Destination_n,1 stop,2 stops,3 stops,4 stops,non-stop,Additional_Info_n
0,3,0,5,0,0,0,0,1,7
1,1,3,0,0,1,0,0,0,7
2,4,2,1,0,1,0,0,0,7
3,3,3,0,1,0,0,0,0,7
4,3,0,5,1,0,0,0,0,7
5,8,3,0,0,0,0,0,1,7
6,4,0,5,1,0,0,0,0,2
7,4,0,5,1,0,0,0,0,7
8,4,0,5,1,0,0,0,0,2
9,6,2,1,1,0,0,0,0,7
10,1,2,1,1,0,0,0,0,7
11,3,3,0,0,0,0,0,1,7
12,1,1,4,0,0,0,0,1,7
13,4,3,0,1,0,0,0,0,2
14,3,3,0,0,0,0,0,1,7
15,1,2,1,0,1,0,0,0,7
16,8,2,1,1,0,0,0,0,7
17,4,2,1,1,0,0,0,0,2
18,1,2,1,0,1,0,0,0,7
19,4,2,1,1,0,0,0,0,2
20,2,2,1,1,0,0,0,0,7
21,1,0,5,1,0,0,0,0,7
22,3,0,2,0,0,0,0,1,7
23,3,0,2,0,0,0,0,1,7
24,4,3,0,1,0,0,0,0,2
25,4,2,1,0,1,0,0,0,7
26,3,2,1,1,0,0,0,0,7
27,2,2,1,1,0,0,0,0,7
28,10,0,2,0,0,0,0,1,7
29,10,1,4,0,0,0,0,1,7
30,10,1,4,0,0,0,0,1,7
31,1,3,0,0,1,0,0,0,7
32,3,0,2,0,0,0,0,1,7
33,4,2,1,0,1,0,0,0,2
34,4,2,1,1,0,0,0,0,2
35,3,2,1,1,0,0,0,0,7
36,8,3,0,1,0,0,0,0,7
37,1,3,0,0,0,0,0,1,7
38,4,0,5,1,0,0,0,0,7
39,4,2,1,1,0,0,0,0,7
40,6,2,1,1,0,0,0,0,7
41,1,0,5,1,0,0,0,0,7
42,4,2,1,1,0,0,0,0,2
43,0,0,2,0,0,0,0,1,7
44,6,2,1,1,0,0,0,0,7
45,8,0,5,0,0,0,0,1,6
46,3,0,2,0,0,0,0,1,7
47,1,1,4,0,0,0,0,1,7
48,1,3,0,1,0,0,0,0,7
49,4,2,1,0,1,0,0,0,2

In [189]:
X.head()

,Airline_n,Source_n,Destination_n,1 stop,2 stops,3 stops,4 stops,non-stop,Additional_Info_n
0,3,0,5,0,0,0,0,1,7
1,1,3,0,0,1,0,0,0,7
2,4,2,1,0,1,0,0,0,7
3,3,3,0,1,0,0,0,0,7
4,3,0,5,1,0,0,0,0,7

In [190]:
y=FF_df.Price

In [191]:
X_train,X_test,y_train,y_test= train_test_split(X,y,train_size=0.2)

In [192]:
model=LinearRegression()

In [196]:
from sklearn import tree
model = tree.DecisionTreeRegressor()

In [199]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()

In [200]:
model.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [201]:
model.score(X_test,y_test)

0.6688113103857023