In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [6]:
data_ICIC= pd.read_csv('ICICIBANK.csv')
data_ICIC.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,ICICIBANK,EQ,69.20,74.35,74.75,71.40,74.75,74.75,73.20,286260,2.095439e+12,NaN,NaN,NaN
1,2000-01-04,ICICIBANK,EQ,74.75,73.05,78.50,71.00,73.25,73.05,73.38,296264,2.173893e+12,NaN,NaN,NaN
2,2000-01-05,ICICIBANK,EQ,73.05,70.00,73.50,67.50,70.00,69.50,70.85,227624,1.612794e+12,NaN,NaN,NaN
3,2000-01-06,ICICIBANK,EQ,69.50,71.00,74.00,69.55,69.75,70.05,72.04,275149,1.982121e+12,NaN,NaN,NaN
4,2000-01-07,ICICIBANK,EQ,70.05,69.00,72.50,66.00,67.00,67.40,68.72,138809,9.538882e+11,NaN,NaN,NaN

In [15]:
X=data_ICIC[['High','Low','Last','Volume']].values
y=data_ICIC['Close'].values

In [19]:
X_train,X_test, y_train,  y_test= train_test_split(X,y,test_size=0.3,random_state=0)

In [20]:
reg = LinearRegression()

In [21]:
model=reg.fit(X_train,y_train)

In [22]:
model.predict(X_test)

array([130.55409522, 540.63143795, 545.40667902, ..., 192.07483117,
       884.60682885, 598.75609969])

In [30]:
model.score(X_test,y_test)

0.9999654548231913